
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.navbar{
  position: fixed;
  background-color: #111;
  width: 100%;
  padding: 30px 0;
  top: 0;
  z-index: 100;
  line-height: 20px;
  
}
p{
  font-family: 'Raleway',sans-serif;
}
h3{
  font-family: 'Merienda', cursive;
}
.inner-width{
  max-width: 1300px;
  margin: auto;
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  font-size: 40px;
  font-weight: 100;
  font-family: 'Staatliches', cursive;
  color: #ffffff;
  cursor: pointer;
}
.navbar-menu a{
  font-size: 13px;
  font-weight: 500;
  font-family: 'Raleway',sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 35px;
  display: inline-block;
}
.navbar-menu a::after{
  content: '';
  display: block;
  width: 0;
  height: 1.8px;
  background-color: #f00;
  transition: width .3s;
}
.navbar-menu a:hover::after{
  width: 100%;
}
.main{
  display: flex;
  width:100%;
  height: 650px;
}

#hungry{
  color: white;
  margin-top: 40px;
  padding: 170px;
}
#main_order{
  margin-top: 60px;
  font-size: 30px;
  border: 2px solid white;
  margin-right: 200px;
  align-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border-radius: 100px;
}
#main_order:hover{
  color: black;
  background-color: white;
  cursor: pointer;
  animation-name:  order;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes order {
  0% {
    box-shadow: 20px -20px 100px red;
}
50% {
  box-shadow: -20px 20px 100px red;
}
100% {
  box-shadow: 20px -20px 100px red;
}
  
}
#main_img{
  margin-top: 50px;
}
#main_img{
  background-image: url(./shourav-sheikh-Q9VEWorDhaY-unsplash.jpg);
  background-size: 750px 550px;
  background-repeat: no-repeat;
  width: 60%;
}
#offer{
  margin-top: 30px;
  display: flex;
  width: 100%;
  height: 500px;
}
#offer1{
  background-image: url(./one-plus-one.1c04b9aa28fe0588592757ffc9111ae6.1.jpg);
  margin-left: 30px;
  /* border: 2px solid white; */
  width: 50%;
}
#offer2{
  margin-left: 50px;
  /* border: 2px solid white; */
  width: 50%;
  background-image: url(./momo-mia-meal-for-1.9b26ce043967fa447ef98d6579536f20.1.jpg);
  margin-right: 30px;
}
body{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  background: #000000f2;
}
footer{
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: #111;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .container{
  display: flex;
  justify-content: space-between;
}

footer .container .sec{
  margin-right: 30px;
}
footer .container .sec.aboutus{
  width: 40%;
}
.rev_des{
  font-family: 'Raleway',sans-serif;
}
footer .container h2{
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
}
footer  h2:before{
  content:'';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #f00;
}

footer p{
  color: #999;
}
.sci{
  margin-top: 20px;
  display: flex;
}
.sci li{
  list-style: none;
}
.sci li a{
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
 
}
.sci li a:hover{
  background: #f00;
}
.sci li a .fa{
  color: #fff;
  font-size: 20px;
}
.quickLinks{
  position: relative;
  width: 25%;
}
.quickLinks ul li{
  list-style: none;
}
.quickLinks ul li a{
  color: #999;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}
.quickLinks ul li a:hover{
  color: #fff;
}
.contact{
  width: calc(35%-60px);
  margin-right: 0 !important;
}
.contact .info{
  position: relative;
}
.contact .info li{
  display: flex;
  margin-bottom: 16px;
}
.contact .info li span{
  color: #999;
}
.contact .info li a{
  color: #999;
  text-decoration: none;
}
.contact .info li a:hover{
  color: #fff;
}
.copyrightText{
  width: 100%;
  background: #181818;
  padding: 8px 100px;
  text-align: center;
  color: #999;
}

.pic{
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;
  border-style: solid;
  
  animation-name: pica;
  animation-iteration-count: infinite;
  animation-duration: 4s;
}
@keyframes pica {
  0% {
      box-shadow: 10px 0px 30px  red;
  }
  25% {
      box-shadow: 0px -10px 30px blue;
  }
  50% {
      box-shadow: -10px 0px 30px green;
  }
  75%{
      box-shadow: 0px 10px 30px yellow;
  }
  100% {
      box-shadow: 10px 0px 30px red;
  }
  
}
#p1{
  background-image: url("https://source.unsplash.com/400x300/?pizza");
}
#p2{
  background-image: url("https://source.unsplash.com/400x300/?burger");
}
#p3{
  background-image: url("https://source.unsplash.com/400x300/?beverage");
}


.pic{
  margin: 20px;
}

form{
  width: 100%;
  padding-top: 15px;
  margin-top: 100px;
  padding-left: 100px;
  margin-bottom: 100px;
  color: white;
  font-size: 20px;
 background-color: #1f1d1d4f;
 border-style: solid 1px black;
 animation-name: forma;
    animation-duration: 3s;
    position: relative;
    animation-iteration-count: infinite;
}
@keyframes forma {
  0% {
      box-shadow: 20px -20px 100px red;
  }
  50% {
    box-shadow: -20px 20px 100px red;
  }
  100% {
    box-shadow: 20px -20px 100px red;
  }
}


#a1{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: center;
}
#non_veg{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: center;
}
#a2{
  margin-top: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 40px;
}

html{
  scroll-behavior: smooth;
}

.a3{
  width: 300px;
  margin-left: 30px;
  height: 500px;
  /* border-style: solid; */
  /* border-color: white;
  border-bottom: none; */
}
#side1, #side2{
  /* border: 2px solid white; */
  width: 4%;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  writing-mode:vertical-lr;
  margin-left: 30px;
  font-size: 30px;
}
#side1{
  background-color: #0a8020;
  border-right: 5px solid rgb(5, 83, 9);
}
#side2{
  background-color: rgb(134, 20, 45);
  border-right: 5px solid rgb(102, 10, 30);
}
.veg_pic{
  /* border: 2px solid white; */
  height: 260px;
  border-bottom: 20px solid white;
}
#veg_1{
  background-image: url(./veg_1.jpg);
}
#veg_2{
background-image: url(./Veg_2.jpg);
}
#veg_3{
background-image: url(./veg_3.jpg);
}
#veg_4{
background-image: url(./veg_4.jpg);
}
#nveg_1{
  background-image: url(./nveg_1.jpg);
}
#nveg_2{
  background-image: url(./nveg_2.jpg);
}
#nveg_3{
  background-image: url(./nveg_3.jpg);
}
#nveg_4{
  background-image: url(./nveg_4.jpg);
}
#nveg_1, #nveg_2, #nveg_3, #nveg_4, #veg_1, #veg_2, #veg_3, #veg_4{
  background-repeat: no-repeat;
  background-size: 360px;
}
.veg_des{
  border: 2px solid white;
  height: 180px;
  background-color: white;
  /* border: 2px solid black; */
  padding-top: 20px;
  font-family: open sans-serif;
  border-bottom-right-radius: 70px;
}

.veg_price{
  /* border: 2px solid white; */
  height: 50px;
  border-radius: 10px;
  margin-top: 15px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0a8020;
  cursor: pointer;
}
.veg_price:hover{
  background-color: #0357d6;
}
.add{
padding-left: 120px;
color: white;
font-size: 20px;
}

.rs{
padding-left: 60px;
color: white;
font-size: 20px;
}

#reviewbar{
  background-color: rgba(7, 6, 6, 0.904);
  margin-top: 40px;
  height: 300px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-items: center;
}


.review{
  background-color: rgb(186 12 12 / 56%);
  height: 240px;
  width: 23%;
  margin-left: 20px;
  color: white;
  border-top-left-radius: 50px;
}
.rev_des{
/* border: 2px solid rgb(224, 25, 25); */
height: 180px;
width: 350px;
display: flex;
justify-items: center;
align-items: center;
padding-left: 10px;
text-align: center;
}

.customer{
  /* border: 2px solid rgb(23, 27, 218); */
  height: 60px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 130px;
  font-size: 20px;
  font-family: 'Raleway',sans-serif;
  font-weight: bold;
  border-bottom: 10px solid white;
}
.customer > img{
  padding-left: 80px;
}

.order{
  border: 2px solid white;
  padding: 20px 20px;
  margin-right: 150px;
}








    
    