
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.navbar{
  position: fixed;
  background-color: #111;
  width: 100%;
  padding: 30px 0;
  top: 0;
  z-index: 100;
  line-height: 20px;
}
.inner-width{
  max-width: 1300px;
  margin: auto;
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  font-size: 40px;
  font-weight: 100;
  font-family: 'Great Vibes',sans-serif;
  color: #ffffff;
  cursor: pointer;
}
.navbar-menu a{
  font-size: 13px;
  font-weight: 500;
  font-family: 'Raleway',sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 35px;
  display: inline-block;
}
.navbar-menu a::after{
  content: '';
  display: block;
  width: 0;
  height: 1.8px;
  background-color: #f00;
  transition: width .3s;
}
.navbar-menu a:hover::after{
  width: 100%;
}

body{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  background: #000000f2;
}
footer{
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: #111;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .container{
  display: flex;
  justify-content: space-between;
}

footer .container .sec{
  margin-right: 30px;
}
footer .container .sec.aboutus{
  width: 40%;
}
footer .container h2{
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
}
footer  h2:before{
  content:'';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #f00;
}

footer p{
  color: #999;
}
.sci{
  margin-top: 20px;
  display: flex;
}
.sci li{
  list-style: none;
}
.sci li a{
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
 
}
.sci li a:hover{
  background: #f00;
}
.sci li a .fa{
  color: #fff;
  font-size: 20px;
}
.quickLinks{
  position: relative;
  width: 25%;
}
.quickLinks ul li{
  list-style: none;
}
.quickLinks ul li a{
  color: #999;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}
.quickLinks ul li a:hover{
  color: #fff;
}
.contact{
  width: calc(35%-60px);
  margin-right: 0 !important;
}
.contact .info{
  position: relative;
}
.contact .info li{
  display: flex;
  margin-bottom: 16px;
}
.contact .info li span{
  color: #999;
}
.contact .info li a{
  color: #999;
  text-decoration: none;
}
.contact .info li a:hover{
  color: #fff;
}
.copyrightText{
  width: 100%;
  background: #181818;
  padding: 8px 100px;
  text-align: center;
  color: #999;
}
#price{
  display: flex;
  width: 100%;
  text-align: center;
  grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
  grid-gap: 12px;
}
.pic{
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;
  border-style: solid;
  
  animation-name: pica;
  animation-iteration-count: infinite;
  animation-duration: 4s;
}
@keyframes pica {
  0% {
      box-shadow: 10px 0px 30px  red;
  }
  25% {
      box-shadow: 0px -10px 30px blue;
  }
  50% {
      box-shadow: -10px 0px 30px green;
  }
  75%{
      box-shadow: 0px 10px 30px yellow;
  }
  100% {
      box-shadow: 10px 0px 30px red;
  }
  
}
#p1{
  background-image: url("https://source.unsplash.com/400x300/?pizza");
}
#p2{
  background-image: url("https://source.unsplash.com/400x300/?burger");
}
#p3{
  background-image: url("https://source.unsplash.com/400x300/?beverage");
}


.pic{
  margin: 20px;
}

form{
  width: 100%;
  padding-top: 15px;
  margin-top: 100px;
  padding-left: 100px;
  margin-bottom: 100px;
  color: white;
  font-size: 20px;
 background-color: #1f1d1d4f;
 border-style: solid 1px black;
 animation-name: forma;
    animation-duration: 3s;
    position: relative;
    animation-iteration-count: infinite;
}
@keyframes forma {
  0% {
      box-shadow: 20px -20px 100px red;
  }
  50% {
    box-shadow: -20px 20px 100px red;
  }
  100% {
    box-shadow: 20px -20px 100px red;
  }
}


#a1{
  display: flex;
  flex-direction: row;
  background-color: #1f1d1d4f;
  margin-top: 20px;
  justify-content: center;
}

#a2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

html{
  scroll-behavior: smooth;
}

.a3{
  width: 40%;
  text-align: center;
  margin: 45px 45px 15px 15px;
  padding: 4px;
  height: 200px;
  color: white;
  border-style: solid;
  border-color: white;
}





#reviewbar{
  background-color: #1f1d1d4f;
  margin-top: 100px;
  height: 300px;
  display: inline-block;
  width: 100%;
}

.name{
  font-family: 'Elsie Swash Caps', cursive;
  font-weight:900;
  color:rgb(255, 255, 255);

}

.says{
  font-family: 'Petit Formal Script', cursive;
  font-weight: bolder;
}

#rev{
  display: block;
  margin: auto;
  width: 100px;
  color: white;
  font-size: 30px;

}

.review{
  
 
  background-color: #1f1d1d4f;
  text-align: center;
  margin: 20px;
  margin-top: 30px;
  height: 200px;
  border-style: solid;
  display: inline-block;
  width: 21%;
  margin-left: 20px;
  color: white;
}

.review:hover{
  background-color: black;
  
}

#r1{
  position: relative;
}



#r2{
  position: relative;
}
.order{
  border: 2px solid white;
  padding: 20px 20px;
  margin-right: 150px;
}








    
    